*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    
}

.head_container{
    margin-bottom:2.5rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_description{
    max-width: 568px;
    text-align: center;
    color:rgb(83, 82, 82) ;
    margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}
.card_container{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(116, 106, 106);
    border-radius: 2px;
}
.card_container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 12rem;
}
.card_img{
    object-fit: cover;
    position: absolute;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_title{
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: rgb(55, 48, 48);
    line-height: 1.5rem;
}
.card_title_anchor:hover{
    color: rgb(134, 134, 247);
}
.card_desc{
    color: rgb(113, 107, 107);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;

}
.autor_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_avtar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(76, 72, 72);
    border-radius: 50%;
    background-color: rgb(229, 224, 224);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(94, 94, 233);
}
.author_date{
    color: rgb(131, 128, 128);
}

.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(113, 110, 110);
    border-radius: 1px;
    line-height: 1.3rem;
    padding:0.25rem 0.5rem;
    color: gray;
}